* {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .countdown-container {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .heading {
    display: flex;
    flex-direction: column;
  }
  .login {
    margin: 0 110px;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation-name: login;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    color: white;
  }
  h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
  }
  
  .details {
    display: flex;
    justify-content: space-around;
    padding: 15px;
  }
  .display {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  .calendar {
    max-height: 80vh;
  }
  label {
    color: red;
    font-size: 18px;
    align-items: center;
  }
  form{
      display: none;
      margin-top: 30px;
  }
  input {
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    border-radius: 3px;
  }
  button[type="submit"] {
    padding: 7px;
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  button[type="submit"]:hover {
    background-color: #424a49;
    transition: all 1s;
  }
  @keyframes login {
    0% {
      background-color: red;
    }
    25% {
      background-color: yellow;
    }
    50% {
      background-color: blue;
    }
    100% {
      background-color: green;
    }
  }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 28px;
      text-align: center;
    }
    .login {
      font-size: 18px;
    }
    input {
      width: 100px;
    }
  }
  